<!-- About -->
<div id="about">

  <!-- Section Content -->
  <div class="section-content">


    <!-- Row -->
    <div class="row">

      <!-- Column -->
      <div class="col-md-12">

        <!-- About Content -->
        <div class="about-content">

          <!-- Image -->
          <!--<img src="../img/showcase/screenshot.png" alt="">-->
          <img src="assets/img/showcase/screenshot.png" alt="">

          <!-- Heading -->
          <h2 class="bold uppercase dark f-expanded t-center">Time to start spreading the love!!!</h2>

          <!-- Sub Heading -->
          <p class="sofia gray2 italic f-normal">Now, spreading the love has no boundaries!</p>


          <!-- Switcher -->
          <ul class="about-switch no-margin-bottom" data-uk-switcher="{connect:'#about-switch', animation: 'fade'}">


            <!-- List -->
            <li>

              <!-- Link -->
              <a href="#">

                <!-- Icon -->
                <i class="icon ion-ios-lightbulb-outline"></i>

                <!-- Title -->
                <h2 class="f-small uppercase bold dark">Innovative</h2>

              </a>
              <!-- End Link -->

            </li>
            <!-- End List -->

            <!-- List -->
            <li>

              <!-- Link -->
              <a href="#">

                <!-- Icon -->
                <i class="icon ion-ios-flask-outline"></i>

                <!-- Title -->
                <h2 class="f-small uppercase bold dark">Creative</h2>

              </a>
              <!-- End Link -->

            </li>
            <!-- End List -->

            <!-- List -->
            <li>

              <!-- Link -->
              <a href="#">

                <!-- Icon -->
                <i class="icon ion-ios-heart-outline"></i>

                <!-- Title -->
                <h2 class="f-small uppercase bold dark">Pretty special</h2>

              </a>
              <!-- End Link -->

            </li>
            <!-- End List -->

            <!-- List -->
            <li>

              <!-- Link -->
              <a href="#">

                <!-- Icon -->
                <i class="icon ion-ios-people-outline"></i>

                <!-- Title -->
                <h2 class="f-small uppercase bold dark">Friends & Family</h2>

              </a>
              <!-- End Link -->

            </li>
            <!-- End List -->

            <!-- List -->
            <li class="no-margin">

              <!-- Link -->
              <a href="#">

                <!-- Icon -->
                <i class="icon ion-wineglass"></i>

                <!-- Title -->
                <h2 class="f-small uppercase bold dark">Special Occasion</h2>

              </a>
              <!-- End Link -->

            </li>
            <!-- End List -->

          </ul>
          <!-- End Switcher -->



          <!-- Switcher Results -->
          <ul id="about-switch" class="uk-switcher">

            <!-- List -->
            <li>

              <!-- Row -->
              <div class="row">

                <!-- Column -->
                <div class="col-md-4">

                  <!-- Text -->
                  <h4 class="f-semi-expanded normal t-left mobile-t-center gray2">Rejection process is not fun. It’s the red pen on the page, the discarded sketch, sometimes is the only way forward.</h4>

                </div>
                <!-- End Column -->


                <!-- Column -->
                <div class="col-md-4">

                  <!-- Text -->
                  <p class="f-small normal t-left mobile-t-center gray2"> Donec euismod quis ante at mattis. Mauris dictum ante sit amet enim interdum semper. Vestibulum odio justo, faucibus et dictum eu, malesuada nec neque. Maecenas volutpat, diam enim sagittis.</p>

                </div>
                <!-- End Column -->


                <!-- Column -->
                <div class="col-md-4">

                  <!-- Text -->
                  <p class="f-small normal t-left mobile-t-center gray2">Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Volutpat nibh, accumsan purus. Lorem ipsum dolor sit semper amet, consectetur adipiscing elit. Inmed maximus ligula metus pellentesque.</p>

                </div>
                <!-- End Column -->

              </div>
              <!-- End Row -->

            </li>
            <!-- End List -->

            <!-- List -->
            <li>

              <!-- Row -->
              <div class="row">

                <!-- Column -->
                <div class="col-md-4">

                  <!-- Text -->
                  <h4 class="f-semi-expanded normal t-left mobile-t-center gray2">Rejection process is not fun. It’s the red pen on the page, the discarded sketch, sometimes is the only way forward.</h4>

                </div>
                <!-- End Column -->


                <!-- Column -->
                <div class="col-md-4">

                  <!-- Text -->
                  <p class="f-small normal t-left mobile-t-center gray2"> Donec euismod quis ante at mattis. Mauris dictum ante sit amet enim interdum semper. Vestibulum odio justo, faucibus et dictum eu, malesuada nec neque. Maecenas volutpat, diam enim sagittis.</p>

                </div>
                <!-- End Column -->


                <!-- Column -->
                <div class="col-md-4">

                  <!-- Text -->
                  <p class="f-small normal t-left mobile-t-center gray2">Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Volutpat nibh, accumsan purus. Lorem ipsum dolor sit semper amet, consectetur adipiscing elit. Inmed maximus ligula metus pellentesque.</p>

                </div>
                <!-- End Column -->

              </div>
              <!-- End Row -->

            </li>
            <!-- End List -->



            <!-- List -->
            <li>

              <!-- Row -->
              <div class="row">

                <!-- Column -->
                <div class="col-md-4">

                  <!-- Text -->
                  <h4 class="f-semi-expanded normal t-left mobile-t-center gray2">Rejection process is not fun. It’s the red pen on the page, the discarded sketch, sometimes is the only way forward.</h4>

                </div>
                <!-- End Column -->


                <!-- Column -->
                <div class="col-md-4">

                  <!-- Text -->
                  <p class="f-small normal t-left mobile-t-center gray2"> Donec euismod quis ante at mattis. Mauris dictum ante sit amet enim interdum semper. Vestibulum odio justo, faucibus et dictum eu, malesuada nec neque. Maecenas volutpat, diam enim sagittis.</p>

                </div>
                <!-- End Column -->


                <!-- Column -->
                <div class="col-md-4">

                  <!-- Text -->
                  <p class="f-small normal t-left mobile-t-center gray2">Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Volutpat nibh, accumsan purus. Lorem ipsum dolor sit semper amet, consectetur adipiscing elit. Inmed maximus ligula metus pellentesque.</p>

                </div>
                <!-- End Column -->

              </div>
              <!-- End Row -->

            </li>
            <!-- End List -->



            <!-- List -->
            <li>

              <!-- Row -->
              <div class="row">

                <!-- Column -->
                <div class="col-md-4">

                  <!-- Text -->
                  <h4 class="f-semi-expanded normal t-left mobile-t-center gray2">Rejection process is not fun. It’s the red pen on the page, the discarded sketch, sometimes is the only way forward.</h4>

                </div>
                <!-- End Column -->


                <!-- Column -->
                <div class="col-md-4">

                  <!-- Text -->
                  <p class="f-small normal t-left mobile-t-center gray2"> Donec euismod quis ante at mattis. Mauris dictum ante sit amet enim interdum semper. Vestibulum odio justo, faucibus et dictum eu, malesuada nec neque. Maecenas volutpat, diam enim sagittis.</p>

                </div>
                <!-- End Column -->


                <!-- Column -->
                <div class="col-md-4">

                  <!-- Text -->
                  <p class="f-small normal t-left mobile-t-center gray2">Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Volutpat nibh, accumsan purus. Lorem ipsum dolor sit semper amet, consectetur adipiscing elit. Inmed maximus ligula metus pellentesque.</p>

                </div>
                <!-- End Column -->

              </div>
              <!-- End Row -->

            </li>
            <!-- End List -->


            <!-- List -->
            <li>

              <!-- Row -->
              <div class="row">

                <!-- Column -->
                <div class="col-md-4">

                  <!-- Text -->
                  <h4 class="f-semi-expanded normal t-left mobile-t-center gray2">Rejection process is not fun. It’s the red pen on the page, the discarded sketch, sometimes is the only way forward.</h4>

                </div>
                <!-- End Column -->


                <!-- Column -->
                <div class="col-md-4">

                  <!-- Text -->
                  <p class="f-small normal t-left mobile-t-center gray2"> Donec euismod quis ante at mattis. Mauris dictum ante sit amet enim interdum semper. Vestibulum odio justo, faucibus et dictum eu, malesuada nec neque. Maecenas volutpat, diam enim sagittis.</p>

                </div>
                <!-- End Column -->


                <!-- Column -->
                <div class="col-md-4">

                  <!-- Text -->
                  <p class="f-small normal t-left mobile-t-center gray2">Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Volutpat nibh, accumsan purus. Lorem ipsum dolor sit semper amet, consectetur adipiscing elit. Inmed maximus ligula metus pellentesque.</p>

                </div>
                <!-- End Column -->

              </div>
              <!-- End Row -->

            </li>
            <!-- End List -->

          </ul>
          <!-- End Switcher Results -->

        </div>
        <!-- End About Content -->

      </div>
      <!-- End Column -->

    </div>
    <!-- End Row -->

  </div>
  <!-- End Section Content -->

</div>
<!-- About Section Content -->
