<!-- Download -->
<div id="download" class="image-bg-2 pattern-white" data-uk-parallax="{bg: '-300'}">

  <!-- Section Content -->
  <div class="section-content">


    <!-- Section Title -->
    <div class="section-title-large">
      <!-- Heading -->
      <h2 class="bold uppercase dark f-expanded t-center">Available on all platforms.</h2>

      <!-- Sub Heading -->
      <p class="sofia gray2 italic f-normal">Version 1.8 Beta</p>

    </div>
    <!-- Section Title -->


    <!-- Row -->
    <div class="row">

      <!-- Playstore Download -->
      <div class="download col-md-4">

        <div class="row">

          <div class="col-md-12">

            <!-- Button -->
            <a href="#" class="button auto-margin">Google Play</a>

          </div>

        </div>


      </div>
      <!-- End Playstore Download -->

      <!-- Appstore Download -->
      <div class="download col-md-4">

        <div class="row">

          <div class="col-md-12">

            <!-- Button -->
            <a href="#" class="button auto-margin">Apple Store</a>

          </div>

        </div>

      </div>
      <!-- End Appstore Download -->


      <!-- Windows Download -->
      <div class="download last-element col-md-4">

        <div class="row">


          <div class="col-md-12">

            <!-- Button -->
            <a href="#" class="button auto-margin">Windows Store</a>

          </div>

        </div>

      </div>
      <!-- End Windows Download -->


    </div>
    <!-- End Row -->

  </div>
  <!-- End Section Content -->

</div>
<!-- End Download -->
