<!-- Contact -->
<div id="contact">


  <!-- Row -->
  <div class="row">

    <!-- Section Title -->
    <div class="section-title-large">

      <!-- Title -->
      <h2 class="bold uppercase dark f-expanded t-center">Login</h2>

      <!-- Sub Heading -->
      <p class="sofia gray2 italic f-normal t-center">login.</p>

    </div>
    <!-- Section Title -->

  </div>
  <!-- End Row -->


  <!-- Section Content -->
  <div class="section-content">

    <!-- Row -->
    <div class="row">

      <!-- Column -->
      <div class="col-md-12">
        <div class="alert alert-danger" *ngIf="statusCode != 200 && statusCode != null">
          <a href="#" class="close" data-dismiss="alert">&times;</a>
          <strong>Error!</strong> {{ responceMessage }}
        </div>
        <div class="alert alert-success" *ngIf="statusCode == 200">
          <a href="#" class="close" data-dismiss="alert">&times;</a>
          <strong>Success!</strong> {{ responceMessage}}
        </div>

        <!-- Contact Container -->
        <div id="contact-wrapper">

          <!-- Comfermation Results -->
          <div id="ErrResults" class="dark f-small"></div>
          <div id="MainResult" class="dark f-small"></div>
          <!-- END Comfermation Results -->

          <!-- Contact Form -->
          <form id="contact-form" name="contact-form" (ngSubmit)="onSubmit()" #f="ngForm">


            <input type="email" name="email" id="email"
                   ngModel
                   required
                   email
                   #email="ngModel"
                   placeholder="Email">

            <label for="email" id="emailLb">
              <span class="error error1 dark f-small" *ngIf="!email.valid && email.touched">Email Required!</span>
            </label>


            <input type="password" name="password" id="password"
                   ngModel
                   required
                   #password="ngModel"
                   placeholder="Password">

            <label for="password" id="passwordLb">
              <span class="error dark f-smaller uppercase" *ngIf="password.touched && !password.valid">Password Required.</span>
            </label>



            <!-- Send Button -->
            <button type="submit" class="button contact-btn dark">Send</button>
            <!-- END Send Button -->


          </form>
          <!-- END Contact Form -->

        </div>
        <!-- END Contact Container -->

      </div>
      <!-- End Column -->


    </div>
    <!-- End Row -->

  </div>
  <!-- End Section Content -->

</div>
<!-- End Contact -->