<!-- Information -->
<div id="information">

  <!-- Row -->
  <div class="row">

    <!-- Section Title -->
    <div class="section-title-large">

      <!-- Title -->
      <h2 class="bold uppercase dark f-expanded t-center">Contact us.</h2>

      <!-- Sub Heading -->
      <p class="sofia gray2 italic f-normal t-center">Let's meet.</p>

    </div>
    <!-- Section Title -->

  </div>
  <!-- End Row -->


  <!-- Section Content -->
  <div class="section-content">

    <!-- Row -->
    <div class="row">

      <!-- Column -->
      <div class="col-md-4">

        <!-- Information -->
        <div class="info">

          <!-- Icon -->
          <i class="fa fa-map-marker f-semi-expanded gray1"></i>

          <!-- Title -->
          <h2 class="f-small uppercase bold dark">Address</h2>

          <!-- Address -->
          <a href="https://www.google.com/maps/place/RTI+International/@35.9059974,-78.8659628,17z/data=!3m1!4b1!4m5!3m4!1s0x89acef93d0a7cbfd:0xf1433fdc893ee74e!8m2!3d35.9059931!4d-78.8637741" class="f-small normal dark">20 Front Rd. Ypsilanti, MI 48197</a>

        </div>
        <!-- End Information -->

      </div>
      <!-- End Column -->


      <!-- Column -->
      <div class="col-md-4">

        <!-- Information -->
        <div class="info">

          <!-- Icon -->
          <i class="fa fa-envelope-o f-semi-expanded gray1"></i>

          <!-- Title -->
          <h2 class="f-small uppercase bold dark">Mail</h2>

          <!-- Address -->
          <p><a href="mailto:yourname@domain.com" class="f-small normal dark">support@tograndmawithlove.com</a></p>

        </div>
        <!-- End Information -->

      </div>
      <!-- End Column -->


      <!-- Column -->
      <div class="col-md-4">

        <!-- Information -->
        <div class="info no-margin-bottom">

          <!-- Icon -->
          <i class="fa fa-phone f-semi-expanded gray1"></i>

          <!-- Title -->
          <h2 class="f-small uppercase bold dark">Phone</h2>

          <!-- Address -->
          <p><a href="tel:PutYourNumberHere" class="f-small normal dark">+565 3434 23</a></p>

        </div>
        <!-- End Information -->

      </div>
      <!-- End Column -->


    </div>
    <!-- End Row -->

  </div>
  <!-- End Section Content -->

</div>
<!-- End Information -->
